<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
<div id="add-3">
    <ul> 
        <li v-for="(avto, i) in cars">{{i + 1}} - {{avto.car}} имеет скорость: {{avto.speed}} км\час</li>
    </ul>

    <button v-on:click="show = !show"> Показать \ скрыть текст</button>
    <p v-if="show">Первый текст доступен и открыт</p>
    <p v-else> главный текст скрыт</p>
</div>


    <div id="add-2" class="block">

        <input type="text" v-on:input="increment ($event.target.value)">
        <p>{{value}}</p>
        <p>{{doblValue}}</p>
    </div>

    <div id="add-1">
        <div class="block">
            <p class="block" v-on:click = "rename"> нажми </p>
            <p>{{message}}</p>
        </div>
        <div class="block">
            <p :class="styleCSS " class="block"> Цвет:{{styleCSS}}</p>
            <input type="text" v-on:input="styleCSS = $event.target.value">
        </div>
    </div>

    <script src="./js/itproger.js"></script>
</body>

</html>


<!--
    
https://www.youtube.com/watch?v=UwX73mdsu3I&list=PL0lO_mIqDDFVVNsIt02JBIdBkjNVHIoum&index=5

-->
